.Quiz{
    display: flex;
    justify-content: center;
    padding-top: 1%;
    flex-grow: 1;
    width: 100%;
    background: linear-gradient(90deg, #5041b2 0%, #7969e6 100%);
}

.Quiz h1{
    color: #fff;
   /* margin-left: 10px;*/
    text-align: center;
}

.QuizWrapper{
    min-width: 30%;
    max-width: 50%;
}